@import "bootstrap.min.css";

/* links */
a{
  color:#000;
}

/* Logo */
.logo-wrapper {
    display: block;
    float: right;
}

.logo-subhead {
  text-align: center;
  color:#3B58A8;
  font-size:1.2em;
}

.ic-body ul{
    font-family: "Domine", serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: rgb(68, 68, 68);
  }

.ic-body p{
  font-family: "Domine", serif;
  font-size: 16px;
  color: rgb(68, 68, 68);
}

.h1 {
   font-family: "Domine", serif;
   font-size: 42px;
   font-weight: normal;
   color: rgb(51,51,51);
 }

 .h2 {
    font-family: "Domine", serif;
    font-size: 24px;
    font-weight: normal;
    color: rgb(51,51,51);
  }

  .p {
     font-family: "Domine", serif;
     font-size: 16px;
     color: rgb(68,68,68);
   }

   .primary-nav ul {
     margin: 0;
    padding: 0;
   }
   .primary-nav li {
     list-style: none;
     text-align: center;
     color: black;
   }
   .primary-nav a {
     color:black;

   }


   .social-nav ul {
     margin: 0;
     padding: 0;
   }
   .social-nav li {
     list-style: none;
     text-align: left;
   }
   .secondary-nav-images img {
     display: block;
   }
   .primary-nav a {
     color: black;
   }
   .secondary-nav-images a {
     color:black;
   }
   img,
   iframe,
   video,
   svg {
       display: block;
       max-width: 100%;
   }

   .hp-nav li{
       float: left;
       list-style: none;
       text-align: center;
   }

   .checklist ul {
     margin: 0;
    padding: 0;
   }

   .checklist li {
     list-style: none;
     text-align: left;
   }

   .checklist i {
     margin: 0;
     padding-right: .2em;
   }
   .checklist h1 {
     margin: 0;
     padding: .5em;
   }
   .checklist p {
     margin: 0;
     padding-left: 1.75em;
   }

   .candidate-list {
     list-style: none;
     padding-left: 20;
     text-align: left;
   }

   .logo img {
     margin: 0;
     float: right;
   }

   .information {
     list-style: none;
     padding-left: 2em;
     padding-bottom: 2em;
     padding-right: 2em;
     text-align: left;


   }

   .local-issues {
     list-style: none;
     padding-left: 20;
     text-align: left;
   }

   .social-nav {
     margin-top: 50px;
     padding-top: 20px;
     background-color: #3B58A8;
   }

   .social-nav a {
     color: white;
   }

   .social-nav p {
     padding-left: 10px;
     padding-bottom: 20px;
     color: white;
   }

   .primary-nav {
     background-color: #3B58A8;
   }

   .primary-nav a {
     color: white;
   }

   .primary-nav li {
     padding-top: 10px;
     padding-bottom: 10px;
   }
