@import "bootstrap.min.css";
.ic-body ul{
    font-family: "Domine", serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: rgb(68, 68, 68);;
  }

.ic-body p{
  font-family: "Domine", serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.h1 {
   font-family: "Domine", serif;
   font-size: 16px;
   line-height: 29.600000381469727px;
   color: #333;
 }

 .h2 {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-size: ;
    line-height: ;
    color: #333;
  }

  .p {
     font-family: "arial", helvetica, sans-serif;
     font-size: 10px;
     line-height: ;
     color: #333;
   }

   .primary-nav ul {
     margin: 0;
    padding: 0;
   }
   .primary-nav li {
     list-style: none;
     text-align: center;
   }
   .social-nav ul {
     margin: 0;
     padding: 0;
   }
   .social-nav li {
     list-style: none;
     text-align: left;
   }
